/* Variables */

// Colors
$white: #fff;
$black: #000;
$orange: #ffa500;

$primary: #7E16E0;
$secondary: #697282; /*#380963*/

// Icon Fonts
$font-path: '/assets/fonts';

// Fonts
//$base-font-family: 'Open Sans', sans-serif;
$base-font-family: 'Poppins', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-color: $orange;
$font-weight-medium: 500;
