<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Login</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="login-logo">
        <img src="/assets/images/vct-logo-app.png" alt="Ionic logo">
      </div>

      <form novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="stacked" color="primary">Username</ion-label>
            <ion-input
              :value="loginForm.userName"
              @ionInput="loginForm.userName = $event.target.value"
              name="username"
              type="text"
              spellcheck="false"
              autocapitalize="off"
              required
            ></ion-input>
          </ion-item>

          <ion-text color="danger">
            <p v-show="!usernameValid || submitted == true" padding-left>Username is required</p>
          </ion-text>

          <ion-item>
            <ion-label position="stacked" color="primary">Password</ion-label>
            <ion-input :value="loginForm.password"
                       @input="loginForm.password = $event.target.value" name="password" type="password"
                       required></ion-input>
          </ion-item>

          <ion-text color="danger">
            <p v-show="!passwordValid || submitted == true" padding-left>Password is required</p>
          </ion-text>
        </ion-list>

        <ion-row responsive-sm>
          <ion-col>
            <ion-button @click="onLogin(  )" type="button" expand="block">Login</ion-button>
          </ion-col>
          <ion-col>
            <ion-button @click="onSignup()" color="light" expand="block">Signup</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-content>
  </div>
</template>

<style scoped>
  .login-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }

  .login-logo img {
    max-width: 150px;
  }

  .list {
    margin-bottom: 0;
  }
</style>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import {loadParam} from "@/helpers/storage";

    export interface LoginForm {
        userName: string | null;
        password: string | null;
    }

    const loginForm: LoginForm = {
        userName: null,
        password: null
    };

    @Component
    export default class Login extends Vue {
        loginForm = loginForm;
        submitted = false;

        get usernameValid() {
            return true;
        }

        get passwordValid() {
            return true;
        }

        mounted() {
            if (loadParam('authUser')) {
                this.$store.dispatch('logOut');
            }
        }

        onLogin() {
            this.submitted = true;
            const {userName, password} = loginForm;
            if (userName && password) {
                this.$store.dispatch('logIn', this.loginForm);
            }

        }
    }
</script>
