<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content padding>
      <p>Name : {{user.name}}</p>
      <p>surname : {{user.surname}}</p>
      <p>Email : {{user.email}}</p>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component
  export default class Profile extends Vue {

    get user() {
      return this.$store.state.user.authUser
    }

  }
</script>
