<template>
  <ion-page>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Trips</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content padding>
      <template>
        <ion-slides pager="true" :options="slideOpts">
          <ion-slide v-for="trip in trips" class="trip-slide">
            <ion-card class="trip-card" style="background-image: url('./data/images/estepona.jpg')">
              <!--              <img :src="trip.image.disk_name"/>-->
              <!--              <img :src="'data/images/estepona.jpg'" class="trip-background-image"/>-->
              <ion-title>{{trip.name}}</ion-title>
              <ion-button>Detail</ion-button>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </template>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
  import {Component, Vue} from "vue-property-decorator";

  @Component
  export default class Trips extends Vue {
    created() {
      this.$store.dispatch('getTrips');
    }

    slideOpts = {
      initialSlide: 1,
      speed: 400
    };

    get trips() {
      return this.$store.state.trip.trips
    }

  }
</script>
