<template>
  <ion-menu contentId="menu-content" side="end">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list v-if="loggedIn">

        <ion-menu-toggle auto-hide="false">
          <ion-item button @click="navigate('/')">
            <ion-label>
              Home
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item button @click="navigate('/trips')">
            <ion-label>
              Trips
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item button @click="navigate('/profile')">
            <ion-label>
              Profile
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item button @click="onLogout()">
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

      <ion-list v-if="!loggedIn">
        <ion-menu-toggle auto-hide="false">
          <ion-item button @click="navigate('/login')">
            <ion-icon slot="start" name="log-in"></ion-icon>
            <ion-label>
              Login
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>

    </ion-content>
  </ion-menu>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';

  @Component({

    computed: {
      loggedIn: function () {
        return this.$store.state.user.authUser;
      }
    },

    mounted() {
      //
    }

  })
  export default class Menu extends Vue {
    navigate(url: string) {
      this.$router.push(url)
    }

    onLogout() {
      this.$store.dispatch('logOut');
    }
  }
</script>
