<template>
  <div id="app">
    <ion-app>
      <ion-split-pane>
        <Menu v-if="loggedIn"/>
        <ion-vue-router main :animated="false" id="menu-content"/>
      </ion-split-pane>
    </ion-app>
  </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import Menu from "./components/Menu.vue";
    import {loadParam} from "@/helpers/storage";

    @Component({
        components: {
            Menu
        },

        computed: {
            loggedIn: function () {
                return this.$store.state.user.authUser;
            }
        }

    })
    export default class App extends Vue {
        created() {
            this.$store.state.user.authUser = loadParam('authUser');
        }
    }
</script>
